

<div class="section2">
</div>

<center> <div class="onglet">


<div id="presentation"><p>Présentation</p></div>
<div id="menu"><p>Menu</p></div>
<div id="contact"><p>Carte saisonnière</p></div></center>

</div>

<div id="presentationc"><p>Bienvenue dans notre restaurant familial autour de la cuisine du terroire</p></div>
<div id="menuc"><p>Menu gastro, Menu Découverte, Menu J'ai pas très faim</p></div>
<div id="contactc"><p>Poisson selon arrivage et Potion magique si présence du Druide</p></div>


<div id="carousel">
  <div class="btn-bar">
    <div id="buttons"><a id="prev" href="#"><</a><a id="next" href="#">></a> </div></div>
    <div id="slides">
        <ul>
            <li class="slide">
                <div class="quoteContainer">
                  <img width="70%" src="https://images.pexels.com/photos/551997/pexels-photo-551997.jpeg">
                </div>
            </li>

            <li class="slide">
                <div class="quoteContainer">
                  <img width="70%" src="https://images.pexels.com/photos/566566/pexels-photo-566566.jpeg">
                </div>
            </li>

            <li class="slide">
                <div class="quoteContainer">
                  <img width="70%" src="https://images.pexels.com/photos/247685/pexels-photo-247685.png">
                </div>
            </li>
      </ul>
    </div>

<div class="footer">

</div>
